<!DOCTYPE html>
<html>
<head>
	<title> Buy this ... </title>
</head>
<body>
	
	<div align="center">
		<br><br>
		<h1> Purchase this carabiner </h1>
		<br><br>
	</div>

	<div align="center">
		<img src="https://www.rei.com/media/62586021-ff08-4800-b5d6-54c4b95cc7d3">
		<br><br>
		<br><br>
	</div>

	<div align="center">
		<form action="/charge" method="post">
			
			<script 
				src="https://checkout.stripe.com/checkout.js" 
				class="stripe-button" 
				data-key="pk_test_bczQSusevztxEAPcKMFyp6uZ" 
				data-amount="30" 
				data-name="carabiner"
				data-description="purchase of a carabiner" 
				data-locale="auto" 
				data-currency="usd">
			</script>

			<input type="hidden" name="chargeAmount" value="30">

		</form>
	</div>

</body>
</html>