<!DOCTYPE html>
<html>
<head>
	<title> Thank you </title>
</head>
<body>
	
	<div align="center">
		<br><br>
		<h1> Thank you for puchasing that carabiner </h1>
		<br><br>
	</div>

	<div align="center">
		<h1> Your awsome </h1>
		<br><br>
	</div>

	<div align="center">
		<h1> Also you payment was processed with Stripe </h1>
	</div>


</body>
</html>